{% extends "base.html" %}

{% block content %}
    <h3 class="title">Имя: {{ user['name'] }}</h3>
    <hr>
    <h2>{% block title %} e-mail: {{ user['email'] }} {% endblock %}</h2>
    <h4>{{ user['roles'] }}</h4>
    <hr>
    <h1><a href="{{ url_for('auth.edit', user_id=user['id']) }}">
        <span class="badge badge-warning">Изменить роль пользователя</span>
    </a></h1>


<hr>

<form action="{{ url_for('auth.delete', user_id=user['id']) }}" method="POST">
    <input type="submit" value="Delete User"
            class="button is-block is-info is-large is-fullwidth"
            onclick="return confirm('Are you sure you want to delete this user?')">
</form>

{% endblock %}

